@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
body {
  background-image: url("images/globe3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100%; */
  background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
}
.header {
  height: 25vh;
  width: 98.72vw;
  position: absolute;
}
.header.sticky {
  position: sticky;
  top: 0;
}
.solutions {
  line-height: 1.5;
  margin: 45px;
  height: 90vh;
  padding-top: 200px;
}
.solutions p {
  font-size: 14px;
}
.solutions button {
  background-color: orange;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.solutions button:hover {
  opacity: 70%;
  cursor: pointer;
}

.cards {
  display: flex;
}
.left-cards {
  margin-left: 110px;
}
.right-cards {
  margin-left: -30px;
  padding-top: 150px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: 25px;
  position: relative;
  width: 10rem;
  height: 15rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card a {
  text-decoration: underline;
  color: orange;
}
.card .logo_card {
  padding: 20px;
  /* border: 1px solid red; */
  height: 40px;
  width: 40px;
}
.card .logo_card img {
  max-width: 100%;
  height: auto;
}
.card .header_card {
  font-size: 14px;
}
.card .content_card {
  font-size: 12px;
  line-height: 1.5;
}

.card_1 {
  margin-bottom: 45px;
}
.card_2 {
  margin-bottom: -10px;
}
.card_5 {
  margin-bottom: -10px;
}
.card_4 {
  margin-bottom: 45px;
}
.footer {
  /* border: 1px solid red; */
  margin-top: 100px;
  padding-bottom: 100px;
  margin-left: 600px;
  line-height: 1.5;

  width: 300px;
  height: 120px;
}
.footer h1 {
  text-align: left;
}
.footer p {
  text-align: justify;
}
.partners {
  /* border:1px solid red; */
  display: flex;
  height: 200px;
  width: 540px;
  margin: 10px;
  position: relative;
  top: -900px;
  flex-direction: column;
}
.partners img {
  height: 180px;
  width: 180px;
  /* border: 1px solid red; */
}
.access {
  margin-bottom: 90px;
  margin-left: 400px;
}
.ecobank {
  margin-left: 50px;
}
.nedbank {
  margin-left: 380px;
  margin-top: -130px;
}
.mastercard {
  margin-left: 200px;
  margin-top: -50px;
}
.bankabc {
  margin-left: 50px;
}
.visa {
  margin-left: 200px;
}
.kcb {
  margin-left: 50px;
}
.eft {
  margin-left: 380px;
  margin-top: -100px;
}
.dzcard {
  margin-left: 380px;
  margin-top: -340px;
}
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
